:root {
  --discord-heade-bg-color: #3161e0;
  --discord-link-color: white;
  --discord-footer-bg-col: #23272a;
}

/* #region global */

* {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--discord-link-color);
}

ul {
  list-style: none;
}

/* #endregion */

/* #region utility */

.container {
  margin: 0 20%;
  height: max-content;
  max-width: 60%;
  width: 2500px;
}

.df {
  display: flex;
}

.txt-l, .txt-c {
  text-align: left;
}

.button-spacing {
  gap: 3rem;
}

.content-box-big { 
  order: 1; 
  flex-grow: 2; 
}

.content-box-small { 
  order: 2; 
  flex-grow: 1; 
}

.rev { 
  flex-direction: row-reverse; 
}

/* #endregion */

/* #region header */

header {
  background-color: var(--discord-heade-bg-color);
}

nav, .header-links {
  justify-content: space-between;
  align-items: center;
}

.header-links {
  width: 600px;
  max-width: 80%;
  text-decoration: none;
}

.login-button {
  background-color: white;
  border-radius: 1rem;
  padding: 0.5rem;
}

/* #endregion */

/* #region banner */

.banner {
  background-image: url(/assets/img/jumbo.png);
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 600px;
}

.title {
  flex-flow: column nowrap;
  align-items: center;
  gap: 3rem;
  color: white;
  padding: 5rem;
}

.download, 
.browser {
  color: black;
  background-color: white;
  border-radius: 1rem;
  padding: 0.5rem;
}

/* #endregion */

/* #region where, how, who, ending */

.where, 
.how, 
.who, 
.end, 
.ending {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.ending {
  flex-flow: column nowrap;
  gap: 3rem;
}

.download-end {
  color: white;
  background-color: var(--discord-heade-bg-color);
  border-radius: 1rem;
  padding: 0.5rem;
}

/* #endregion */

/* #region footer */

footer {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--discord-footer-bg-col);
}

.footer-top {
  flex-flow: row;
  justify-content: center;
  align-items: start;
  margin: 3rem 0 1rem;
}

.ita-png {
  height: 1rem;
  width: 2rem;
}

.footer-bottom, 
.register-button {
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  border-top: white 1px solid;
}

.register-button {
  color: white;
  background-color: var(--discord-heade-bg-color);
  border-radius: 1rem;
  padding: 0.5rem;
}

/* #endregion */


     